body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://i.pinimg.com/originals/15/13/ba/1513ba1e9699fd14f7266308b11f9031.jpg);
}

.container {
    text-align: center;
}

.weather-card {
    background-color: #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
    max-width: 300px;
    margin: 20px auto; /* Центрируем блок по горизонтали и добавляем отступы по верху и низу */
}

.weather-card h2 {
    margin-top: 0;
}

.weather-card p {
    margin-bottom: 5px;
}

input[type="text"] {
    size: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px);
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 16px; /* Увеличение размера шрифта */
}

.contacts {
    color: #ffffff;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #20b47b;
    color: white;
    cursor: pointer;
    font-size: 16px; /* Увеличение шрифта */
}

button:hover {
    background-color: #0056b3;
}

.clover{
    color: #0056b3;
}